<p>event-binding2 works!</p>

<!-- template ref variable
    syntax => #name 
-->

<!-- <input #myname type="text" placeholder="Enter the Name"> <br><br>

<button (click)="onClick(myname)">Send</button>
<hr>
<input #myname1 type="text" placeholder="Enter the Name"> <br><br>

<button (click)="onClick1(myname1.value)">Send</button>
<hr>
<input #myname2 type="text" placeholder="Enter the Name"> <br><br>

<button (click)="onClick2(myname2)">Send</button> <hr>

<input #num1 type="number" placeholder="Enter the num1"> <br><br>
<input #num2 type="number" placeholder="Enter the num2"> <br><br>
<button (click)="OnAddition(num1.value,num2.value)">Addition</button> <br><br>

<input type="text" placeholder="Result" [value]="result" >
<hr> -->

<!-- change event -->

<input #name4  type="text" (change)="onChange(name4)"
 placeholder="Enter the Name">